* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
* body {
  font-family: "Noto Sans KR", sans-serif;
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  font-size: 100%;
  color: #555;
}
* ul, * ol, * li {
  list-style-type: none;
  padding-left: 0;
  margin-left: 0;
}
* a:hover, * a:link, * a:visited,
* a {
  color: inherit;
  text-decoration: none;
}

#menubar {
  position: fixed;
  top: 20px;
  right: 20px;
  width: 32px;
  height: 32px;
  border: 1px solid #eee;
  border-radius: 50%;
  cursor: pointer;
  overflow: hidden;
}
#menubar img {
  width: 100%;
  height: 100%;
}

#header {
  display: flex;
  justify-content: center;
  border-bottom: 1px solid #eee;
}
#header .inner {
  max-width: 1080px;
  width: 100%;
  padding: 0 24px;
}
#header .inner .inner-wrapper {
  display: flex;
  justify-content: space-between;
  padding: 23px 0;
}
#header .inner .inner-wrapper h1 {
  font-family: "Nanum Myeongjo";
  font-weight: 800;
  font-size: 1.75em;
  line-height: 32px;
  letter-spacing: -0.2px;
  color: #333;
}
#header .inner .inner-wrapper h1 a {
  height: 32px;
  text-decoration: none;
  color: #333;
}
#header .inner .inner-wrapper .util {
  display: flex;
  justify-content: space-between;
  width: 78px;
}
#header .inner .inner-wrapper .util .search {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 32px;
  height: 32px;
  border: 1px solid #eee;
  border-radius: 50%;
  background-color: #fff;
  cursor: pointer;
  overflow: hidden;
}
#header .inner .inner-wrapper .util .search img {
  width: 70%;
  height: 70%;
}
#header .inner .inner-wrapper .util .profile, #header .inner .inner-wrapper .util .bars {
  width: 32px;
  height: 32px;
  border: 1px solid #eee;
  border-radius: 50%;
  cursor: pointer;
  overflow: hidden;
}
#header .inner .inner-wrapper .util .profile img, #header .inner .inner-wrapper .util .bars img {
  width: 100%;
  height: 100%;
}
#header .inner .inner-wrapper .util .bars {
  display: none;
}
#header #gnb {
  height: 66px;
  display: flex;
}
#header #gnb ul {
  display: flex;
  gap: 52px;
}
#header #gnb ul li {
  display: flex;
}
#header #gnb ul li a {
  padding: 22px 4px 24px;
  color: #777;
}
#header #gnb ul li.current {
  border-bottom: 4px solid #333;
}
#header #gnb ul li.current a {
  color: #333;
}
#header #gnb ul li:hover {
  border-bottom: 4px solid #333;
}
#header #gnb ul li:hover a {
  color: #333;
}

#container {
  display: flex;
  justify-content: center;
}
#container .content-wrap {
  display: flex;
  justify-content: space-between;
  max-width: 1080px;
  width: 100%;
  padding: 0 24px;
}
#container .content-wrap #content {
  display: flex;
  flex-direction: column;
  width: 68.5185185185%;
  padding: 72px 0 60px;
}
#container .content-wrap #content .post-header {
  padding-top: 4px;
}
#container .content-wrap #content .post-header h1 {
  margin-bottom: 18px;
  font-size: 1em;
  line-height: 1.375;
}
#container .content-wrap #content .post-header h1 em {
  margin-left: 7px;
  font-style: normal;
  color: #04beb8;
}
#container .content-wrap #content .inner {
  display: grid;
  grid-template-rows: repeat(2, 1fr);
  grid-template-columns: repeat(3, 1fr);
  gap: 56px 25px;
  margin-bottom: 56px;
}
#container .content-wrap #content .inner .post-item a {
  display: flex;
  flex-direction: column;
}
#container .content-wrap #content .inner .post-item a .thum {
  overflow: hidden;
  position: relative;
  width: 100%;
  height: 0;
  margin-bottom: 5px;
  padding-bottom: 60.8695652174%;
  background-color: #f8f8f8;
}
#container .content-wrap #content .inner .post-item a .thum img {
  position: absolute;
  top: 35%;
  left: 43%;
  width: 34px;
}
#container .content-wrap #content .inner .post-item a .title {
  overflow: hidden;
  max-width: 98%;
  margin-bottom: 4px;
  padding-top: 9px;
  text-overflow: ellipsis;
  white-space: nowrap;
  line-height: 1.4;
}
#container .content-wrap #content .inner .post-item a .excerpt {
  overflow: hidden;
  max-width: 95%;
  margin-bottom: 15px;
  text-overflow: ellipsis;
  font-size: 0.8125em;
  line-height: 1.5rem;
  color: #999;
}
#container .content-wrap #content .inner .post-item a .meta {
  font-size: 0.75em;
  color: #999;
}
#container .content-wrap #content .pagination {
  display: flex;
  justify-content: center;
}
#container .content-wrap #content .pagination a {
  margin: 0 12px;
  font-size: 0.875em;
  line-height: 1.5rem;
  color: #999;
}
#container .content-wrap #content .pagination a .selected {
  color: #333;
}
#container .content-wrap #content .pagination .prev {
  width: 22px;
  height: 22px;
  border: 1px solid #eee;
  border-radius: 50%;
}
#container .content-wrap #content .pagination .next {
  width: 22px;
  height: 22px;
  border: 1px solid #eee;
  border-radius: 50%;
}
#container .content-wrap #aside {
  width: calc(21.2962962963% + 55px);
  border-left: 1px solid #eee;
  padding: 75px 0 32px 55px;
}
#container .content-wrap #aside .sidebar-1 {
  display: flex;
  flex-direction: column;
}
#container .content-wrap #aside .sidebar-1 h2 {
  margin-bottom: 7px;
  font-weight: 500;
  font-size: 0.875em;
  color: #555;
}
#container .content-wrap #aside .sidebar-1 ul li {
  padding: 4px 0 5px;
  font-size: 0.8125em;
  line-height: 1.25rem;
  color: #777;
}
#container .content-wrap #aside .sidebar-1 ul li a {
  color: #777;
}
#container .content-wrap #aside .sidebar-1 .count {
  margin-bottom: 46px;
}
#container .content-wrap #aside .sidebar-1 .count h2 {
  display: flex;
  flex-direction: column;
  margin-bottom: 3px;
}
#container .content-wrap #aside .sidebar-1 .count h2::before {
  content: "";
  width: 17px;
  height: 1px;
  margin-bottom: 18px;
  background-color: #555;
}
#container .content-wrap #aside .sidebar-1 .count .total {
  margin-bottom: 12px;
  font-weight: 700;
  font-size: 1.875em;
  color: #555;
}
#container .content-wrap #aside .sidebar-1 .count p {
  margin-bottom: 6px;
  font-size: 0.8125em;
  color: #777;
}
#container .content-wrap #aside .sidebar-1 .notice {
  margin-bottom: 37px;
}
#container .content-wrap #aside .sidebar-1 .category {
  margin-bottom: 36px;
}
#container .content-wrap #aside .sidebar-1 .category ul li {
  padding: 0;
  font-size: 0.875em;
  font-weight: 600;
}
#container .content-wrap #aside .sidebar-1 .category ul li a {
  color: #555;
}
#container .content-wrap #aside .sidebar-1 .category ul li ul {
  padding-top: 8px;
}
#container .content-wrap #aside .sidebar-1 .category ul li ul li {
  padding: 6px 0 7px;
  font-weight: 400;
  font-size: 1em;
}
#container .content-wrap #aside .sidebar-1 .category ul li ul li a {
  color: #555;
}
#container .content-wrap #aside .sidebar-1 .category ul li ul li ul {
  overflow: hidden;
  display: flex;
  flex-direction: column;
  gap: 6px;
  margin-top: 6px;
  border-left: 2px solid #eee;
  padding: 0;
}
#container .content-wrap #aside .sidebar-1 .category ul li ul li ul li {
  position: relative;
  padding: 0;
  padding-left: 9px;
  font-size: 0.8125rem;
}
#container .content-wrap #aside .sidebar-1 .category ul li ul li ul li a {
  color: #999;
}
#container .content-wrap #aside .sidebar-2 {
  margin-top: 38px;
  border-top: 1px solid #eee;
  padding-top: 46px;
}
#container .content-wrap #aside .sidebar-2 .revenue_unit_wrap {
  margin-top: 20px;
  margin-bottom: 20px;
}
#container .content-wrap #aside .sidebar-2 .revenue_unit_wrap .adfit {
  min-width: 160px;
  min-height: 90px;
  cursor: pointer;
  overflow: hidden;
}
#container .content-wrap #aside .sidebar-2 .revenue_unit_wrap .adfit img {
  width: 100%;
  height: 100%;
}

#footer {
  display: flex;
  justify-content: center;
  padding: 38px 24px;
  border-top: 1px solid #eee;
}
#footer .inner {
  display: flex;
  justify-content: space-between;
  max-width: 1080px;
  width: 100%;
}
#footer .inner .inner-wrapper {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
#footer .inner .inner-wrapper p {
  font-size: 0.875em;
  color: #777;
}
#footer .inner .page-top {
  width: 30px;
  height: 30px;
  border: 1px solid #eee;
  border-radius: 50%;
  cursor: pointer;
  overflow: hidden;
}
#footer .inner .page-top img {
  width: 100%;
  height: 100%;
}

#toolbar {
  position: fixed;
  top: auto;
  bottom: 20px;
  height: 30px;
  right: 20px;
  font-size: 0;
  line-height: 0;
}
#toolbar .inner {
  display: flex;
  justify-content: center;
  padding: 0 15px;
  border-radius: 15px;
  box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.1), 0 2px 5px rgba(0, 0, 0, 0.1);
  background-color: #fff;
}
#toolbar .inner button {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 3px;
  height: 30px;
  border: none;
  font-size: 0;
  line-height: 0;
  background-color: #fff;
}
#toolbar .inner button .txt-id {
  overflow: hidden;
  max-width: 109px;
  font-size: 13px;
  line-height: 16px;
  font-weight: normal;
  white-space: nowrap;
  text-overflow: ellipsis;
  color: #777;
}
#toolbar .inner button .txt-state {
  font-size: 13px;
  line-height: 16px;
  font-weight: normal;
  font-style: normal;
  color: #000;
}

@media screen and (max-width: 768px) {
  #header .inner .inner-wrapper .util .profile {
    display: none;
  }
  #header .inner .inner-wrapper .util .bars {
    display: block;
  }
  #header .inner #gnb ul {
    gap: 48px;
  }
}
@media screen and (max-width: 768px) {
  #container .content-wrap {
    justify-content: center;
    padding: 0 24px;
  }
  #container .content-wrap #content {
    width: 100%;
    padding: 36px 0 40px;
  }
  #container .content-wrap #content .inner {
    grid-template-rows: repeat(4, 1fr);
    grid-template-columns: repeat(1, 1fr);
  }
  #container .content-wrap #content .pagination a {
    margin: 0 6px;
  }
  #container .content-wrap #aside {
    display: none;
  }
}
@media screen and (max-width: 768px) {
  #footer .inner .inner-wrapper p {
    font-size: 0.8125em;
  }
}
@media screen and (max-width: 1260px) {
  #menubar {
    display: none;
  }

  #toolbar {
    display: none;
  }
}

/*# sourceMappingURL=main.css.map */
