#menubar {
  position: fixed;
  top: 20px;
  right: 20px;
  width: 32px;
  height: 32px;
  border: 1px solid $color-eee;
  border-radius: 50%;
  cursor: pointer;
  overflow: hidden;
  img {
      width: 100%;
      height: 100%;
  }
}
