$font-notosans: "Noto Sans KR", sans-serif !default;
$font-nanum: 'Nanum Myeongjo' !default;

$color-000: #000 !default;
$color-333: #333 !default;
$color-555: #555 !default;
$color-777: #777 !default;
$color-999: #999 !default;
$color-eee: #eee !default;
$color-fff: #fff !default;
$color-04beb8: #04beb8 !default;
$color-f8f8f8: #f8f8f8 !default;

$breakpoint-768: 768px !default;
$breakpoint-1260: 1260px !default;
